<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>Hello World</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">course_type</th>
                <th scope="col">sesmester</th>
                <th scope="col">department</th>
              </tr>
        </thead>

       <tbody>
            <% data.forEach(item => { %>
                <tr scope="row">
                    <td><%= item.book_id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.img %></td>
                    <td><%= item.quality %></td>
                    
                </tr>
            <% }) %>
       </tbody>
      </table>
      <form action="/" method="POST" enctype="multipart/form-data">
        <div class="mb-3 form-check">
            <input type="text" class="form-check-label" name="id">
            <label class="form-check-label">Id</label>
          </div>
          <div class="mb-3 form-check">
            <input type="text" class="form-check-label" name="name">
            <label class="form-check-label">Name</label>
          </div>
          <div class="mb-3 form-check">
            <input type="text" class="form-check-label" name = "source_type">
            <label class="form-check-label">img</label>
          </div>
          <div class="mb-3 form-check">
            <input type="text" class="form-check-label" name="semester">
            <label class="form-check-label">quality</label>
          </div>
          <div class="mb-3 form-check">
            <input type="file" class="form-check-label" name="image" accept="image/*">
            <label class="form-check-label" >image</label>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
      </form>
</body>
</html>